
<h3>diretiva-ngif</h3>
<app-diretiva-ngif></app-diretiva-ngif>
<br>
<hr>
<!--app-diretiva-ngswitch-->
<h3>diretiva-ngswitch</h3>
<app-diretiva-ngswitch></app-diretiva-ngswitch>
<br>
<hr>
<!--app-diretiva-ng-for-->
<h3>diretiva-ng-for</h3>
<app-diretiva-ng-for></app-diretiva-ng-for>
<br>
<hr>
<h3>diretiva-ngClass</h3>
<app-diretiva-ngclass></app-diretiva-ngclass>
<h3>diretiva-ngStyle</h3>

<app-diretiva-ngstyle></app-diretiva-ngstyle>
<hr>


<h3>diretiva- ng-content</h3>

<!--app-exemplo-ng-content>
        <p>Lorem reginaldo Ferreira ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <h3>diretiva-operador elvis</h3>
<app-operador-elvis></app-operador-elvis>
</app-exemplo-ng-content usado quando não é preciso de local especifico no template--> 
<hr>
<br><br>
<app-exemplo-ng-content>
    
    <div class="titulo">ng-Content com especificidade usando class para diferenciação</div>

    <div class="corpo">

            <p>1 Lorem reginaldo Ferreira ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <h3>diretiva-operador elvis</h3>
        <app-operador-elvis></app-operador-elvis>

    </div>

    <div class="corpo">

            <p>2 Lorem reginaldo Ferreira ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <h3>diretiva-operador elvis</h3>
        <app-operador-elvis></app-operador-elvis>
<!-- quando há dois conteudos diferentes enviados para a mesma class , então este serão concatenados na tag-->
    </div>
       
</app-exemplo-ng-content>

<app-diretivas-customizadas></app-diretivas-customizadas>